<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <File name="ManufacturersLogFile"
              fileName="src/main/java/org/netcracker/labs/My_models_manager/logs/manufacturersLog.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <File name="PlacesLogFile" fileName="logs/placesLog.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <File name="file" fileName="log.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="ManufacturersLogger" level="TRACE" additivity="false">
            <AppenderRef ref="ManufacturersLogFile"/>
        </Logger>
        <Logger name="PlacesLogger" level="TRACE" additivity="false">
            <AppenderRef ref="PlacesLogFile"/>
            <AppenderRef ref="file"/>
        </Logger>
    </Loggers>
</Configuration>